GHL_TOKEN_ID=your_firebase_jwt_here
GHL_LOCATION_ID=5upKzDPLSpQ2txoYwSdz
GHL_COMPANY_ID=PTtM4nIlGHCHpe0agt7j
GHL_USER_ID=2a9mydDKyeTV5RXXlD2x
GHL_CHANNEL=APP
GHL_SOURCE=WEB_USER
GHL_VERSION=2021-04-15
GHL_ORIGIN=https://client-app-automation-workflows.leadconnectorhq.com
